# Binary
ruri
ruri-amd64.zip
ruri-arm64.zip
# Editor configuration.
.vscode/
# Gdb log
peda-*
# Build dir.
out
# Tmp file.
TODO
*.save
a.out
t.c
config.mk
*.pyc
debian/ruri
debian/source
debian/.debhelper
debian/debhelper-build-stamp
debian/files
tmpdir*
test-root
cmake_install.cmake
CMakeCache.txt
CMakeFiles
build/.cmake
build/compile_commands.json
build/Makefile
autom4te.cache
aclocal.m4
config.log
config.status
config.h
config.h.in
compile
configure~
install-sh
missing
configure
Makefile.in