Source: ruri
Section: admin
Priority: optional
Maintainer: Moe-hacker <admin@crack.moe>
Build-Depends: debhelper-compat (= 13), libcap-dev, libseccomp-dev
Standards-Version: 4.6.0
Homepage: https://github.com/Moe-hacker/ruri
#Vcs-Browser: https://salsa.debian.org/debian/ruri
#Vcs-Git: https://salsa.debian.org/debian/ruri.git
Rules-Requires-Root: no

Package: ruri
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lightweight, User-friendly Linux-container Implementation
 ruri is a tiny linux container implementation.
